<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <form @submit="saveData">
            <span>Employee Name</span>
            <input v-model="newData.name" type="text">
            <span>Salary</span>
            <input v-model="newData.salary" type="number">
            <br>
            <button type="submit">Save Data</button>
        </form>
        <br>

        <ul>
            <li v-for="emp in empGroup">
                {{emp.name}} is salary = {{emp.salary}} 
            </li>
        </ul>

        <h2>Total Salary: {{summation}}</h2>
        <h2>Avg Salary: {{avg}}</h2>
    </div>

    <script src="app.js"></script>
</body>
</html>